// @import "bourbon/bourbon";
// @import "dist/_include_media.scss";

$lightblue: #60fdff;
$cmdblue: #00ccff;
$lightpurple: #ff77ff;
$lightyellow: #fffb67;
$lightred: lighten(red, 30%);
$lightgreen: #87fbb0;
$gray: darken(gray, 40%);
$term-green: rgb(0,128,0);
$term-green2: rgb(3, 242, 0);
$small: 320px;
$medium: 760px;
$large: 1024px;

// $max-width: 800px !default;
$visual-grid-color: #E6F6FF;
$visual-grid-opacity: 1;
$ltblue: #D5EEFB;
$midblue: #AADBF5;
$cmdblue: #23cefc;
$dkblue: #41A8DF;
$dkerblue: #298EC3;
$textblue: #072f44;
$buttonclr :#599bb3;
$courier: courier-new, courier, monospace;
$monospace: monospace;
$helvetica: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$lennyfont: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

* {
  box-sizing: border-box;
  font-family: monospace;
}

li {
  list-style-type: none;
}

// Workaround for min-height issue :(
.terminal-output div {
  min-height: 14px;
}

// terminal ------------------

#term-spinner {
  color: rgb(3, 242, 0);
  img {
    height: 44px;
  }
}

.terminal {
  // --color: rgb(156, 204, 156);
  --color: rgb(3, 242, 0);
    
  //--color: rgb(0,128,0);
  --background: black;
}

.terminal, .cmd, .terminal .terminal-output div div, .cmd .prompt {
    font-size: 40px;
    line-height: 44px;
}
.terminal {
  --size: 2;
}

// --------------------

noscript {
  color: white;
}
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent; /* For some Androids */
}

a {
  color: $lightblue;
}
a:hover {
  color: $lightpurple;
}

div.navbar {
  // background-color: darken($badge-border, 10%);
  font-size: 1.5em;
  width: 100%;
  color: white;
  display: inline-block;
  div#header {
    width: 60%;
    float: left;
    display: table;
    text-align: left;
    font-size: 1.2em;
    @media only screen and (max-width: $medium) {
      font-size: .8em;
    }
    .image {
      display: table-cell;
      width: 60px;
      @media only screen and (max-width: $medium) {
        width: 40px;
      }
      img {
        width: 60px;
        @media only screen and (max-width: $medium) {
          width: 40px;
        }
        border-radius: 10px;
        margin-right: .5em;
      }
    }
    .title {
      display: table-cell;
      vertical-align: middle;
      #header-text {
        display: none
      }
      #header-img {
        display: none
      }
      .won {
        display: none;
        img {
          width: 40px;
        }
        font-size: .8em;
        color: $cmdblue;
      }
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
  div#links {
    width: 20%;
    display: table-cell;
    text-align: right;
    ul {
      margin: 0;
      padding: 0;
    }
    li.link {
      display: inline;
    }
    img {
      width: 40px;
      @media only screen and (max-width: $medium) {
        width: 20px;
      }
    }
  }
}

div#info-wrapper {
  display: inline-block;
  width: 100%;
  div#completions {
    display: none;
    font-size: 1.2em;
    color: $cmdblue;
  }
  div#info-box {
    display: none;
    color: white;
    div.gradient {
      padding-left: 1em;
      width: 60%;
      height: 5px;
    }
    div.incorrect {
      background: linear-gradient(to right, red, black);
    }
    div.correct {
      background: linear-gradient(to right, $cmdblue, black);
    }
    div.error {
      background: linear-gradient(to right, yellow, black);
    }
    div.img {
      float: left;
      img {
        height: 60px;
      }
    }
    div.text {
      height: 60px;
      vertical-align: middle;
      display: table-cell;
    }
  }
}

div#term-challenge {
  padding: 0;

}

body {
  background-color: black;
  color: black;
  margin: 2em;
}

div#challenge-desc {
  display: inline-block;
  width: 100%;
  border-left: 2px solid darken($cmdblue, 25%); // lighten($gray, 10%);
  border-right: 2px solid darken($cmdblue, 25%); // lighten($gray, 10%);
  border-bottom: 2px solid darken($cmdblue, 25%); // lighten($gray, 10%);
  border-top: 1px solid darken($cmdblue, 25%); // lighten($gray, 10%);
  border-radius: 0px 0px 10px 10px;
  background-color: $gray;
  margin-bottom: 1em;
  div.img-container {
    position: relative;
    float: left;
    margin-right: 1em;
    opacity: .7;
  }

  div.desc-container {
    font-size: 1.2em;
    color: white;
    padding: 1em;
  }

  pre {
    // display: inline-block;
    padding: .5em;
    border-radius: 10px;
    background: darken($gray, 8%);
    width: auto;
    display: table;
  }

  code {
    font-size: .8em;
  }

}

pre#challenge-output {
  font-family: monospace;
  background-color: darken($gray, 20%);
  // width: em(440);
  border-radius: .25em;
  box-shadow: .1em .1em .5em rgba(0,0,0,.45);
  line-height: 0;
  counter-reset: line;
  color: $term-green2;
  font-size: 1em;

  span {
    display: block;
    line-height: 1.0rem;

    &:before {
      counter-increment: line;
      content: counter(line);
      display: inline-block;
      border-right: 1px solid #ddd;
      padding: 0 .5em;
      margin-right: .5em;
      color: #888;
      text-align: right;
      width: 3em;
    }
  }
}


.challenge-box {
  overflow: auto;
}

ul.challenges {
  columns: 4;
  -webkit-columns: 4;
  -moz-columns: 4;
  padding: 0;
  margin: 0;
  font-size: 12px;
  text-align: center;

  img {
    width: 20px;
    float: left;
    margin-right: 10px;
  }

  @media only screen and (max-width: $large) {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
  }


  @media only screen and (max-width: $medium) {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }

  .disable {
    filter: blur(1px);
    -webkit-filter: blur(1px);
  }

  li {
    z-index: 1;
    position: relative;

    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    text-align: left;
  }
  li:hover {
    background-color: $term-green;
    cursor:pointer;
  }

  li a { 
    margin: 0px;
    display: block;
    width: 100%;
    color: white;
    padding: .4em;
    text-decoration: none;
  }
}

div#date {
  font-style: italic;
  color: gray;
  font-size: .8em;
}

div#badges {
  background-color: darken($cmdblue, 50%);
  padding: 0;
  color: white;
  position: relative;
  margin-bottom: 5px;
  display: inline-block;
  width: 100%;
  box-shadow: 0 4px 4px -2px rgba(0,0,0,0.5);
  border-radius: 10px;
  div.img-container {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    float: left;

    img.badge {
      position: relative;
      display: inline-block;
      height: auto;
      width: 40px;
      @media only screen and (max-width: $medium) {
        width: 30px;
      }
    }
  }
}

.active-challenge {
  color: $term-green2;
}
.inactive-challenge {
  border-bottom: none;
}


.active-badge {
  opacity: 1;
}
.inactive-badge {
  opacity: .6;
}


//---- accordian

input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
// Layout
.row {
  display:flex;
  .col {
    flex:1;
  }
}
/* Accordion styles */
.tabs {
  border: 2px solid darken($cmdblue, 25%); // lighten($gray, 10%);
  border-bottom: 0; 
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
  text-align: right;
}
.tab {
  width: 100%;
  color: white;
  overflow: hidden;
  &-label {
    display: flex;
    justify-content: space-between;
    padding: .5em;
    background-color: $gray;
    font-weight: bold;
    cursor: pointer;
    /* Icon */
    &:hover {
      background: lighten($gray, 5%);
    }
    &::after {
      content: "\276F";
      width: 1em;
      height: 1em;
      text-align: center;
      transition: all .35s;
    }
  }
  &-content {
    max-height: 0;
    padding: 0 1em;
    color: $gray;
    background: black;
    transition: all .35s;
  }
  &-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: darken($cmdblue, 25%);
    cursor: pointer;
    &:hover {
      background: darken($cmdblue, 10%);
    }
  }
}

// :checked
input:checked {
  + .tab-label {
    background: lighten($gray, 5%);
    &::after {
      transform: rotate(90deg);
    }
  }
  ~ .tab-content {
    max-height: 100vh;
    padding: 1em;
  }
}

// Solutions ----

#solutions-wrapper .last-updated {
  color: gray;
  font-style: italic;
}

#solutions-wrapper {
  text-align: left;
  overflow: scroll;
  overflow-x: hidden;
  max-height: 300px;
  pre {
    display: grid;
  }
}
